{% extends 'base.html' %}
{% load thumbnail %}
{% load static %}

{% block title %}Черновики{% endblock %}

{% block content %}
    <div class="row w-75 mx-auto my-3">
        <div class="col-lg-8">
            <h2 class="pb-3">
                <span class="text-muted">Черновики пользователя</span>
                <a class="link-dark" href="{% url 'user_profile' username %}">{{ username }}</a>
            </h2>
            {% for article in articles %}
                <div class="card mb-4">
                    {% if article.preview_image %}
                        {% thumbnail article.preview_image "850x500" crop="100%" as thumb_img %}
                            <img class="card-img-top" src="{{ thumb_img.url }}" alt=""/>
                        {% endthumbnail %}
                    {% else %}
                        <img class="card-img-top" src="https://dummyimage.com/850x500/dee2e6/6c757d.jpg" alt="..." />
                    {% endif %}
                    <div class="card-body">
                        <div class="small text-muted">{{ article.published }}</div>
                        <h2 class="card-title">{{ article.title }}</h2>
                        <p class="card-text">{{ article.preview_content|truncatewords:40 }}</p>
                        <hr>
                        <div>
                            <a class="btn btn-dark w-25" href="{% url 'blog:article_edit' article.id %}">Изменить</a>
                            <a class="btn btn-dark w-25" href="{% url 'blog:article_delete' article.id %}">Удалить</a>
                        </div>
                    </div>
                </div>
            {%  empty %}
                <h2>Не найдено ни одного Черновика</h2>
            {% endfor %}
        </div>

        <div class="col-lg-4 px-4">
            {% include 'articles/sidebar_widgets/article_status_widget.html' %}
        </div>
    </div>
{% endblock %}