{% extends 'base.html' %}
{% load thumbnail %}
{% load static %}

{% block title %}Статьи{% endblock %}

{% block content %}
    <div class="row w-75 mx-auto my-3">
        <div class="col-lg-8">
            {% if username and username != request.user.username %}
                <h2 class="pb-3">
                    <span class="text-muted">Посты пользователя</span>
                    <a class="link-dark" href="{% url 'user_profile' username %}">{{ username }}</a>
                </h2>
            {% endif %}
            {% for article in articles %}
                <div class="card mb-4">
                    {% if article.preview_image %}
                        {% thumbnail article.preview_image "850x500" crop="100%" as thumb_img %}
                            <img class="card-img-top" src="{{ thumb_img.url }}" alt=""/>
                        {% endthumbnail %}
                    {% else %}
                        <img class="card-img-top" src="https://dummyimage.com/850x500/dee2e6/6c757d.jpg" alt="..." />
                    {% endif %}
                    <div class="card-body">
                        <div class="small text-muted">{{ article.published }}</div>
                        <h2 class="card-title">{{ article.title }}</h2>
                        <p class="card-text">{{ article.preview_content|truncatewords:40 }}</p>
                        <div class="d-flex">
                            <a class="btn btn-dark" href="{{ article.get_absolute_url }}">Читать далее</a>
                            <div class="mx-5 d-flex">
                                <div class="px-2">
                                    <img src="{% static 'assets/rating.svg' %}" alt="">
                                    {{ article.rating }}
                                </div>
                                <div class="px-2">
                                    <img src="{% static 'assets/view.svg' %}" alt="">
                                    {{ article.view_count }}
                                </div>
                            <!-- like -->
                                <div class="px-2">
                                    {% if request.user in article.users_like.all %}
                                        <img src="{% static 'assets/unlike.svg' %}" alt="">
                                    {% else %}
                                        <img src="{% static 'assets/like.svg' %}" alt="">
                                    {% endif %}
                                    {{ article.users_like.count }}
                                </div>
                            <!-- comment -->
                                <div class="px-2">
                                    <img src="{% static 'assets/comment.svg' %}" alt="">
                                    {{ article.comments_count }}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            {%  empty %}
                <h2>Не найдено ни одного поста</h2>
            {% endfor %}
            <!-- Pagination-->
            {% if articles.has_other_pages %}
                <nav aria-label="Pagination">

                    <ul class="pagination justify-content-center my-4">
                        {% for i in articles.paginator.page_range %}
                            {% if articles.number == i %}
                                <li class="page-item active" aria-current="page">
                                    <a class="page-link" href="?page={{ i }}">{{ i }}</a>
                                </li>
                            {% else %}
                                <li class="page-item"><a class="page-link" href="?page={{ i }}">{{ i }}</a></li>
                            {% endif %}
                        {% endfor %}
                    </ul>
                </nav>
            {% endif %}
        </div>

        <div class="col-lg-4 px-4">
            {% include 'articles/sidebar_widgets/categories_widget.html' %}
            {% if filter_list %}
                {% include 'articles/sidebar_widgets/filter_widget.html' %}
            {% endif %}
            {% if order_list %}
                {% include 'articles/sidebar_widgets/order_widget.html' %}
            {% endif %}
        </div>
    </div>
{% endblock %}