{% extends 'base.html' %}

{% block title %}Change password{% endblock %}

{% block content %}
    <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
        <div class="card border-0 shadow rounded-3 my-5">
            <div class="card-body p-4 p-sm-5">
                <h5 class="card-title text-center mb-5">Сброс пароля</h5>
                <p>Пароль успешно изменён</p>
                <a class="link-dark" href="{% url 'login' %}">Войти</a>
            </div>
        </div>
    </div>
{% endblock content %}