{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block title %}Сброс пароля{% endblock %}

{% block content %}
    <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
        <div class="card border-0 shadow rounded-3 my-5">
            <div class="card-body p-4 p-sm-5">
                <h5 class="card-title text-center mb-5">Сброс пароля</h5>
                <p>На указанный адрес электронной почты будет отправлено письмо с кодом для сброса пароля</p>
                <form method="post">
                    {% csrf_token %}
                    {{ form|crispy }}
                    <div class="d-grid mt-5">
                        <input type="submit" value="Отправить" class="btn btn-dark">
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock content %}
