{% extends 'base.html' %}
{% load static %}

{% block title %}Авторы{% endblock %}

{% block content %}
    <div class="row w-75 mx-auto my-3">
        {% if username != request.user.username %}
            <h2 class="pb-3">
                <span class="text-muted">Друзья пользователя</span>
                <a class="link-dark" href="{% url 'user_profile' username %}">{{ username }}</a>
            </h2>
        {% endif %}
        <div class="col-lg-8">
            {% for user in users %}
            <div class="user-card mb-4">
                <div class="col-3">
                    {% if user.photo %}
                        <a href="{{ user.get_absolute_url }}">
                            <img class="img-thumbnail" src="{{ user.photo.url }}" alt="">
                        </a>
                    {% else %}
                        <img class="img-thumbnail" src="{% static 'images/no-image.jpg' %}" alt="">
                    {% endif %}
                </div>
                <div class="card-body col-6 px-4">
                    <a href="{{ user.get_absolute_url }}" class="link-dark">
                        <h2 class="card-title">{{ user.username }}</h2>
                    </a>
                    <div class="small text-muted">Постов: {{ user.articles.count }}</div>
                    <p class="card-text">Рейтинг: <strong>{{ user.get_user_rating }}</strong></p>
                </div>
                <div class="card-body col-3">
                    {% with subscriptions=request.user.subscription_list %}
                        {% if user != request.user %}
                            <span class="subscribed" data-name="{{ user.username }}">
                                {% if user in subscriptions %}
                                    <p>Вы подписаны</p>
                                {% endif %}
                            </span>
                            <a href="#" class="subscription btn btn-outline-dark"
                                data-name="{{ user.username }}"
                                data-action="{% if user in subscriptions %}delete{% else %}add{% endif %}">
                                    {% if user in subscriptions %}
                                        Отписаться
                                    {% else %}
                                        Подписаться
                                    {% endif %}
                            </a>
                        {% endif %}
                    {% endwith %}
                </div>
            </div>
            {% empty %}
                <h3>Не найдено ни одного автора</h3>
            {% endfor %}
            <!-- Pagination-->
            {% if users.has_other_pages %}
                <nav aria-label="Pagination">
                    <ul class="pagination justify-content-center my-4">
                        {% for i in users.paginator.page_range %}
                            {% if users.number == i %}
                                <li class="page-item active" aria-current="page">
                                    <a class="page-link" href="?page={{ i }}">{{ i }}</a>
                                </li>
                            {% else %}
                                <li class="page-item"><a class="page-link" href="?page={{ i }}">{{ i }}</a></li>
                            {% endif %}
                        {% endfor %}
                    </ul>
                </nav>
            {% endif %}
        </div>

        <div class="col-lg-4 px-4">
            {% include 'users/sidebar.html' %}
        </div>
    </div>
{% endblock %}

{% block domready %}
    <script src="{% static 'js/subscription.js' %}"></script>
{% endblock %}