<h3>Отображение</h3>
<div class="card mb-4">
    <div class="list-group d-flex justify-content-around">
            {% if username == request.user.username %}
                <a href="{% url 'user_list' username 'all' order %}"
                   class="link-dark list-group-item-action list-group-item-dark p-2 px-4
                        {% if filter == 'all' %}active{% endif %}">
                            Все</a>
            {% endif %}
        {% for filter_value, filter_name in filter_list.items %}
            {% if filter_value != 'all' %}
                <a href="{% url 'user_list' username filter_value order %}"
                   class="link-dark list-group-item-action list-group-item-dark p-2 px-4
                        {% if filter == filter_value %}active{% endif %}">
                            {{ filter_name }}
                </a>
            {% endif %}
        {% endfor %}
    </div>
</div>
<div class="card mb-4">
    <div class="list-group d-flex justify-content-around">
        {% for order_value, order_name in order_list.items %}
            <a href="{% url 'user_list' username filter order_value %}"
               class="link-dark list-group-item-action list-group-item-dark p-2 px-4
                {% if order == order_value %}active{% endif %}">
                {{ order_name }}
            </a>
        {% endfor %}
    </div>
</div>